<% 10.times do %>
  <br/>
<% end %>

<div class="container">
  <center>
    <div class="row">
      <div>
        <%= form_tag find_paginated_data_project_owners_path, :method => 'get' do %>
          <% content_tag :label do %>
            Search term:
            <%= text_field_tag :search, params[:search] %>
              <%= submit_tag "Sign up", class: 'btn btn-large btn-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </center>
</div>