.div1 {
    width: 300px;
    height: 100px;
    border: 1px solid white;
    padding: 50px;
    font-size: 14px;
    background: Linen;
    cursor:pointer;
}

.div2 {
    width: 300px;
    height: 100px;
    border: 1px solid white;
    padding: 50px;
    font-size: 14px;
    background: OldLace;
}

.div3 {
    width: 300px;
    height: 100px;
    border: 1px solid white;
    padding: 50px;
    font-size: 14px;
    background: AntiqueWhite;
}

.div4 {
    width: 300px;
    height: 100px;
    border: 1px solid white;
    padding: 50px;
    font-size: 14px;
    background: white;
    cursor:pointer;
}